certifi==2025.7.14
charset-normalizer==3.4.2
colorama==0.4.6
deepdiff==8.5.0
dipy==1.11.0
h5py==3.14.0
idna==3.10
nibabel==5.3.2
numpy==2.3.1
orderly-set==5.5.0
packaging==25.0
pythonping==1.1.4
requests==2.32.4
scipy==1.16.0
setuptools==80.9.0
setuptools-scm==8.3.1
TIME-python==0.0.17
tqdm==4.67.1
trx-python==0.3
urllib3==2.5.0
